.add-event{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.add-event__headline{
    margin-top: 0;
}
.add-event__toggle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.add-event__label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.add-event__label-title{
    display: flex;
    min-width: 38%;
    margin-right: 5px;
    margin-bottom: 5px;
}
.add-event__input{
    max-width: 62%;
    flex-grow: 1;
    min-width: 170px;
    margin-bottom: 5px;
}
.add-event__input--textarea{
    resize: vertical;
}
.add-event__action{
    margin: 20px auto;
}