.time-line{
    height: auto;
}
.time-line__setting{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background: white;
    position: sticky;
    top: 0;
    justify-content: space-around;
}
.time-line__setting-label{
    margin: 5px 10px;
}
.time-line__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-line__card{
    padding: 20px;
    width: 215px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
/*@media  (max-width: 767px) {*/
    /*.time-line{*/
        /*position: absolute;*/
        /*width: 100vw;*/
        /*z-index: 10;*/
        /*background: white;*/
    /*}*/

/*}*/